html {
    padding: 0.5em;
}

body {
    font-family: monospace;
    font-size: 150%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
}

#title {
    margin-top: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#tides, #info {
    margin-bottom: 1em;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.5em;
}

caption {
    margin: 0.5em;
}

caption.top {
    font-weight: bold;
    caption-side: top;
}

caption.bottom {
    caption-side: bottom;
}

td {
    border: none;
}

td.date {
    text-align: right;
}

td.time {
    text-align: left;
}

td:first-child {
    border-right: dotted thin;
}

ul {
    list-style-position: inside;
}

#info td {
    text-align: left;
}

#info td:first-child {
    text-align: right;
}

.high, #request {
    background-color: lightyellow;
}

.low, #response {
    background-color: lightgreen;
}

.prior {
    font-size: 80%;
    font-style: italic;
    color: gray;
}

caption .prior {
    background: repeating-linear-gradient(
            -45deg,
            lightyellow,
            lightyellow 0.25em,
            lightgreen 0.25em,
            lightgreen 0.5em
    );
}

#info {
    font-size: 80%
}

#notes {
    margin: 2em 1em;
    text-align: justify;
    font-size: 80%;
}

@media (max-width: 500px) {
    #tides table, #info table {
        width: 100%;
    }
}
