<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tide Catcher - Tides for {{location}}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="style/main.css" media="screen, handheld"/>
</head>
<body>

<h1>{{resp_station}}</h1>

{% if not error %}
<h2>Tides</h2>
<table id="tides">
    <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for tide in tides %}
    <tr class="{{tide.type|lower}}">
        <td>{{tide.type}}</td>
        <td>{{tide.date}}</td>
        <td>{{tide.time}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Location</h2>
<table id="location">
    <tr class="high">
        <td>Request</td>
        <td>{{"%.4f" % req_lat}}, {{"%.4f" % req_lon}}</td>
    </tr>
    <tr class="low">
        <td>Response</td>
        <td>{{resp_lat}}, {{resp_lon}}</td>
    </tr>
    <tr class="low">
        <td>Station</td>
        <td>{{resp_station}}</td>
    </tr>
    <tr class="low">
        <td>Timezone</td>
        <td>{{tz_name}}, UTC{{"%+05d" % tz_offset}}</td>
    </tr>
</table>

<h2>Notes</h2>
<p id="notes"><em>{{copyright}}</em></p>

{% else %} # from 'if not error'
<p>{{error}}</p>
<pre>{{data}}</pre>
{% endif %}

</body>
</html>
