<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tide Catcher - Tides for {{location}}</title>
    <style>
        body {
            font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Consolas", "Courier New", monospace, sans-serif;
        }
    </style>
</head>
<body>

<h1>Tide Catcher</h1>

{% if error %}
<p>{{error}}</p>
<pre>{{data}}</pre>
{% else %}
<h2>Location</h2>
<ul>
    <li>Request: {{req_lat}}, {{req_lon}}</li>
    <li>Response: {{resp_lat}}, {{resp_lon}}</li>
    <li>Response Timezone: {{tz_name}}, UTC{{"%+05d" % tz_offset}}</li>
</ul>

<h2>Tides</h2>
<table>
    {% for tide in tides %}
    <tr>
        <td>{{tide.type}}</td>
        <td>{{tide.date}}</td>
        <td>{{tide.time}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Query</h2>
<p>{{query_url}}</p>

<h2>Notes</h2>
<p><em>{{copyright}}</em></p>

{% endif %}
</body>
</html>
