html {
    padding: 0.5em;
}
body {
    font-family: monospace;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

#tides, #info {
    margin-bottom: 1em;
}
table, th, td {
    border-collapse: collapse;
    padding: 0.5em;
}

table caption {
    margin: 0.5em;
    text-align: left;
    font-weight: bold;
}
td {
    border-left: dotted thin;
}
#tides td {
    text-align: center;
}
td:first-child {
    border-left: none;
    text-align: right;
}

#tides td:first-child, th:first-child {
    text-align: right;
}

th, .request {
    background-color: lightgray;
}

.high, .response {
    background-color: lightyellow;
}

.low {
    background-color: lightgreen;
}
@media (max-width: 500px) {
    #tides table, #info table {
        width: 100%;
    }
}
