body {
    font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Consolas", monospace, sans-serif;
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.25em;
}

th:first-child, td:first-child {
    border-left: none;
    text-align: right;
}

th, td {
    border-left: dotted thin;
    text-align: center;
}

tr.high {
    background-color: lightgray;
}

tr.low {
    background-color: lightblue;
}

#tides td {
    padding: 0.5em;
}

#location {
    font-size: 75%;
}

#notes {
    font-size: 75%;
}
