<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
        <title>{% block title %}Tide Catcher{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" href="../styles/main.css"
              media="screen, handheld"/>

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114"
              href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120"
              href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144"
              href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152"
              href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180"
              href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
              href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
              href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96"
              href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16"
              href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>

<div id="title">
    <a href="/">
        <img id="logo" src="../images/wave_left_48.png"/>
        <h1>{{ self.title() }}</h1>
    </a>
</div>
{% block data %}

    <div id="data">
        <p>{{ data|safe }}</p>
    </div>

{% endblock %}

<div id="coming-soon">
    <h2>Coming Soon</h2>
    <ul>
        <li>Offline mode: see the last tides retrieved even if you lose connection.</li>
        <li>Save your favorite stations.</li>
    </ul>
</div>

<div id="notes">
    <p>
        <em>
            Tidal Data retrieved from
            <a href="http://www.worldtides.info"
               target="_blank">www.worldtides.info</a>.
            Data obtained from National Oceanic and Atmospheric
            Administration / Center for Operational Oceanographic Products
            and Services (CO-OPS) and is not subjected to copyright
            protection.
            NO GUARANTEES ARE MADE ABOUT THE CORRECTNESS OF THIS TIDAL DATA.
            You may not use this data if anyone or anything could come to
            harm as a result of using it (e.g. for navigational purposes).
        </em>
    </p>
</div>

</body>
</html>
