{% extends "base.html" %}
{% block title %}Tide Catcher{% endblock %}

{% block data %}
    <!--suppress HtmlUnknownTarget -->
    <div id="stations">
        <h2>Stations</h2>
        <p>{{ station_count }} stations cached: <a
                href="/refresh-stations">Refresh</a></p>
        <ul>
            {% for station in stations %}
                <li>
                    {{ station.name }},
                    ({{ "%.4f" % station.loc.lat }}, {{ "%.4f" % station.loc.lon }}),
                    {{ station.id }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
