{% extends "base.html" %}
<!--suppress HtmlUnknownTarget -->
{% block title %}Tide Catcher{% endblock %}

{% block page_scripts %}
    <script src="scripts/stations.js" defer></script>
{% endblock %}

{% block data %}
<div id="content">
    <h2>Stations</h2>
    <div id="loading">
        <p>Loading...</p>
    </div>
    <div id="stations" class="hidden">
        {% raw %}
        <script id="template" type="x-tmpl-mustache">
        <p>
            {{ station_count }} stations cached: <a href="/refresh-stations">Refresh</a>
        </p>
        <ul>
            {{ #stations }}
                <li>
                    {{ name }},
                    <a href="http://maps.google.com/maps/place/{{loc.lat}},{{loc.lon}}/@{{loc.lat}},{{loc.lon}},12z">({{ loc.lat }}, {{ loc.lon }})</a>,
                    <a href=https://tidesandcurrents.noaa.gov/noaatidepredictions/NOAATidesFacade.jsp?Stationid={{id}}>NOAA {{id}}</a>
                </li>
            {{ /stations }}
        </ul>
        </script>
        {% endraw %}
    </div>
</div>
{% endblock %}
