{% extends "base.html" %}
<!--suppress HtmlUnknownTarget -->
{% block title %}Tide Catcher{% endblock %}

{% block page_scripts %}
    <script src="/scripts/main.js" defer></script>
{% endblock %}

{% block data %}

<div id="content">
    <div id="loading">
        <p>Loading</p>
    </div>

    {% raw %}
    <script id="template" type="x-tmpl-mustache">
    <table id="tides">
        <caption class="top">
            {{station_name}}
        </caption>
        {{#tides}}
        <tr class="{{#lower}}{{type}}{{/lower}} {{prior}}">
            <td class="type">{{type}}</td>
            <td class="date">{{date}}</td>
            <td class="day">{{day}}</td>
            <td class="time">{{time}}</td>
        </tr>
        {{/tides}}
        <caption id="bottom_caption" class="bottom">
            Key:
            <span class="prior">Prior&nbsp;Tides</span>
            <span class="low">Low&nbsp;Tides</span>
            <span class="high">High&nbsp;Tides</span>
        </caption>
    </table>

    <div id="info">
        <table id="request">
            <caption class="top">Request</caption>
            <tr>
                <td>Location</td>
                <td>
                    <a href="http://maps.google.com/maps/place/{{ req_lat }},{{ req_lon }}/@{{ req_lat }},{{ req_lon }},12z">({{ req_lat }}, {{ req_lon }})</a>
                </td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{{req_timestamp.date}} {{req_timestamp.day}} {{req_timestamp.time}}</td>
            </tr>
        </table>
        <table id="response">
            <caption class="top">Response</caption>
            <tr>
                <td><a href="/stations">Station</a></td>
                <td>
                    <a href=https://tidesandcurrents.noaa.gov/noaatidepredictions/NOAATidesFacade.jsp?Stationid={{station_id}}>
                        NOAA {{station_id}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td>
                    <a href="http://maps.google.com/maps/place/{{ resp_lat }},{{ resp_lon }}/@{{ resp_lat }},{{ resp_lon }},12z">({{ resp_lat }}, {{ resp_lon }})</a>
                </td>
            </tr>
            <tr>
                <td>Timezone</td>
                <td>{{tz_name}}, UTC{{tz_offset}}</td>
            </tr>
        </table>
    </div>
    </script>
    {% endraw %}
</div>
{% endblock %}
