<!--suppress HtmlUnknownTarget -->
{% extends "base.html" %}
{% block title %}Tide Catcher{% endblock %}

{% block scripts %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>#}
    <script src="/scripts/jquery-3.1.0.min.js" defer></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" defer></script>#}
    <script src="/scripts/underscore-1.8.3-min.js" defer></script>
    <script src="/scripts/main.js" defer></script>
{% endblock %}

{% block data %}


    <div id="content">
        <div id="loading">
            <p>Loading</p>
        </div>

        <table id="tides" class="hidden">
            <caption id="bottom_caption" class="bottom">
                Key:
                <span class="prior">Prior&nbsp;Tides</span>
                <span class="low">Low&nbsp;Tides</span>
                <span class="high">High&nbsp;Tides</span>
            </caption>
        </table>

        <div id="info" class="hidden">
            <table id="request">
                <caption class="top">Request</caption>
                <tr>
                    <td>Location</td>
                    <td id="req_loc"></td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td id="req_time"></td>
                </tr>
            </table>
            <table id="response">
                <caption class="top">Response</caption>
                <tr>
                    <td>Location</td>
                    <td>
                        <a href="/stations" id="resp_loc"></a>
                    </td>
                </tr>
                <tr>
                    <td>Timezone</td>
                    <td id="resp_tz"></td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
